<div id="conversation" class="switch-panel">
	<div class="item-middle">
	  <div class="col-xs-6 item-center">
	    <h1 class="introduces">GRAY</h1>
	    <audio id="gray-speech" src=""></audio>
	  </div>
	</div>
</div>